<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center login-form">
        <form method="post" [formGroup]="loginForm" (ngSubmit)="login()">
            <h2 class="text-center">Sign in</h2>
            <div class="text-center social-btn">
                <a href="/auth/login" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
                <a href="/auth/login" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>
                <a href="/auth/login" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
            </div>
            <div class="or-seperator"><i>or</i></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block login-btn" [disabled]="loginForm.invalid">Sign in</button>
            </div>
            <div class="clearfix">
                <label class="float-left form-check-label"><input type="checkbox" /> Remember me</label>
                <a routerLink="/auth/forgot-password" class="float-right text-success">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>